@import '../../app.component.less';

* {
  font-family: 'Sunflower', sans-serif;
}

.charts {
  //height: 250px;
  padding: 50px;

  h2 {
    text-align: center;
  }

  /* Portrait */
  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    h2 {
      text-align: center;
    }
  }

  .options {
    display: flex;
    justify-content: space-between;

    /* Portrait */
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      display: flex;
      flex-direction: column;
    }

    /* Portrait */
    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      display: flex;
      flex-direction: column;
    }
  }

  .column {
    float: left;
    text-align: center;
    width: 30%;

    img {
      margin: 0 auto;
      width: auto;
    }

    /* Portrait */
    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-content: center;
      margin-bottom: 31pt;
      width: 100%;
    }

    img {
      height: 54px;
    }

    .placeholder {
      display: block;
      margin: auto;
      padding: 30px;

      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    .ngx-charts-outer {
      margin-left: 20px;

      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    .subtitle {
      display: inline-block;
      font-size: 12px;
    }
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}
