@navy: #002D62;
@orange: #EB6E1F;
@turquoise: #75DDDD;
@dark-green: #357266;
@brown: #65532F;

* {
  font-family: 'Sunflower', sans-serif;
}

.wrapper {
  width: 100%;
  height: auto;
  vertical-align: baseline;

  .header {
    display: block;
    height: 40px;
    text-align: center;

    h1 {
      color: @navy;
    }
    h2 {
      color: @dark-green;
    }
  }

  .content {
    display: block;
  }
}
