@import "../../node_modules/pretty-checkbox/dist/pretty-checkbox.min.css";

@navy: #002D62;
@orange: #EB6E1F;
@super-light-orange: #F7DCCD;
@light-orange: #F1AD88;
@turquoise: #75DDDD;
@light-turquoise: #C8F1F2;
@dark-green: #357266;
@brown: #65532F;

* {
  font-family: 'Sunflower', sans-serif;
}

.wrapper {
  width: 100%;
  height: auto;
  vertical-align: baseline;

  .header {
    background-color: @orange;
    box-shadow: 0px 2px 5px 0px #968377;
    color: white;
    display: block;
    padding: 50px;
    text-align: center;
    height: 65px;

    h1 {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 42px;
      }
    }

    h1, h4 {
      margin: 0;
    }
  }

  .content {
    display: block;
  }

  .footer {
    padding-bottom: 20px;
    text-align: center;

    .thanks {
      font-size: 12px;
    }
  }
}
