<div class="wrapper">
    <div class="header">
        <h1>Allergeez</h1>
        <h4>Houston, TX</h4>
    </div>

    <div class="content">
        <charts></charts>
        <checkboxes></checkboxes>
        <notification></notification>
        <feeling></feeling>
    </div>

    <div class="footer">
        <div>This site was created during the 2018 Houston Hackathon. Find us on <a href="https://github.com/emptyflash/allergeez">Github</a>!</div>
        <div class="thanks">Data provided by <a href="http://www.houstontx.gov/health/Pollen-Mold/">Houston Health Department</a>, and icons from <a href="https://icons8.com">Icons8</a>.</div>
    </div>
</div>
