@import '../../app.component.less';

* {
  font-family: 'Sunflower', sans-serif;
}

.feeling {
  background-color: @light-turquoise;
  border: 1px solid @light-turquoise;
  color: white;
  margin-bottom: 50px;
  padding: 30px;
  box-shadow: 0px 1px 5px 0px #b2d5d6;

  .question {
    display: flex;
  }

  .mascot {
    margin-top: 10px;
  }

  .message {
    padding: 10px;
    text-align: center;
    width: 33%;
    margin-left: 25px;
  }

  .column {
    float: left;
    text-align: center;

    a {
      cursor: pointer;
      padding: 10px;
    }

    .emotion-label {
      font-size: 16px;
      margin-top: 10px;
      color: #313131;
      font-weight: 900;
    }
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .options {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
  }

  .speech-bubble-left {
    position: relative;
      border-radius: .4em;
  }

  .speech-bubble-left:after {
    content: '';
    position: absolute;
    left: 0;
    top: 30%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -20px;
  }

  .speech-bubble-orange {
    background: @orange;
  }

  .speech-bubble-orange:after {
    border-right-color: @orange;
  }

  .speech-bubble-top {
	position: relative;
	border-radius: .4em;
    padding: 10px;
  }

  .speech-bubble-top:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 70%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top: 0;
    border-left: 0;
    margin-left: -10px;
    margin-top: -20px;
  }

  .speech-bubble-light-orange {
    background: @light-orange;
  }

  .speech-bubble-light-orange:after {
      border-bottom-color: @light-orange;
  }

  .speech-bubble-super-light-orange {
    background: @super-light-orange;
  }

  .speech-bubble-super-light-orange:after {
      border-bottom-color: @super-light-orange;
  }

  .speech-bubble-turquoise {
    background: @turquoise;
  }

  .speech-bubble-turquoise:after {
      border-bottom-color: @turquoise;
  }
}
