<div class="feeling">
    <div class="message">By the way, how are you feeling today? We'll use your answer to improve our notifications!</div>

    <div class="options">
        <!-- sad -->
        <div class="column">
            <a (click)="addFeedback(Emotion.Sad)"><img src="assets/icons/sad_face.png"></a>
            <div class="emotion-label">Under the weather...</div>
        </div>

        <!-- neutral -->
        <div class="column">
            <a (click)="addFeedback(Emotion.Neutral)"><img src="assets/icons/neutral_face.png"></a>
            <div class="emotion-label">Okay</div>
        </div>

        <!-- happy -->
        <div class="column">
            <a (click)="addFeedback(Emotion.Happy)"><img src="assets/icons/happy_face.png"></a>
            <div class="emotion-label">Pretty good!</div>
        </div>
    </div>
</div>
